
 .nav-item {
        margin-right: 20px;
    }

.active{
    transition: all .4s;
    font-size: 20px;
}
.active:hover{
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #59f896,
     0 15px 0 -4px #39a2db,
     0 16px 10px -3px #39a2db;
}

.Encabezado{
    color: black;
    font-size: 50px;
    display: flex;
    justify-content: center;
 
}
.text{
    font-size: 25px;
    display: flex;
    justify-content: center;
    transition: 3s;
    text-align: justify;
   

}
.textP{
    font-size: 18px;
    display: flex;
    justify-content: center;
    transition: 3s;
    text-align: justify;
   

}
/*lina entre la pagina */
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .iconos{
    border-radius: 20px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
  .icon:hover{
    transition: all .4s;
    transform: translateY(-10px);
  }
  .footer{
    height: 90px;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(70,107,252,1) 100%);
  }

  /*  carousel  */
  .carousel {
    overflow: hidden;
    width: auto;
    height: 350px;
 
   
}
/* color de fondo del carousel*/
.color{
    border-radius: 10px;
    justify-content: center;
    background: white;
    border-radius: 10px;
    background: rgb(140,138,139);
background: linear-gradient(142deg, rgba(140,138,139,1) 0%, rgba(45,51,51,1) 100%);
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

     box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(190, 190, 190),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.carousel-container {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-slide {
    flex: 0 0 100%;
}
