
body{
 
  background: #2A2B2A;
background: linear-gradient(90deg, rgba(42, 43, 42, 1) 0%, rgba(42, 43, 42, 1) 50%, rgba(42, 43, 42, 1) 100%);
}

.inicio{
text-align: center;
 justify-content: center; /* ⬆️⬇️ centra vertical */
font-size: 78px;
width: 100%;
height: 80vh;
background: #3E403E;
padding-top: 120px;   /* ⬇️ baja el texto */
background: linear-gradient(90deg, rgba(62, 64, 62, 1) 0%, rgba(62, 64, 62, 1) 50%, rgba(62, 64, 62, 1) 100%); 
}
.web{
  color: black;

}
.developer{
  background-color: #EBC50C;
  box-shadow: 0px 3px 15px #EBC50C;

}
.sobremi{

  max-width: auto;/* tamaño del card*/
  margin: auto;
  height: 80vh;
  font-size: 18px;
  line-height: 1.6;
  color: #f1f1f1;
}
.Proyectos{
  max-width: auto;
  color: #f1f1f1;
  margin: auto;
  height: 80vh;
  font-size: 18px;
  line-height: 1.6;

}
.Titulo{
  color: #EBC50C;
  max-width: auto;/* tamaño del card*/
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 3px 15px #EBC50C;

}
.icon{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 28px;
  max-width: auto;/* tamaño del card*/
  background: #EBC50C;
  border-radius: 15px;
  color: #3E403E;
  

}

.carousel {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.carousel-images img.active {
    display: block;
}
.cards{
  display: flex;              /* ACTIVA FLEXBOX */
  flex-direction: column;     /* Elementos uno debajo del otro */
  justify-content: center;    /* Centrado vertical */
  align-items: center;        /* Centrado horizontal */
  text-align: center;   
   max-width: 600px;
  margin: 0 auto;             /* Centra el card en la página */
  background: transparent;
  color: #EBC50C;
  box-shadow: 0px 3px 15px #EBC50C;
  border-radius: 15px;
  padding: 20px;
}
i{
  font-size: 29px;
  margin: 10px 0;
}
.imgicon{
  gap: 15px;
  width: 40px;
  height: 48px;
  color: #EBC50C;
  background: #EBC50C;

}