html {
  scroll-behavior: smooth;
}
body{
  background: #2A2B2A;
background: linear-gradient(90deg, rgba(42, 43, 42, 1) 0%, rgba(42, 43, 42, 1) 50%, rgba(42, 43, 42, 1) 100%);
}

.inicio{
text-align: center;
 justify-content: center; /* ⬆️⬇️ centra vertical */
font-size: 78px;
width: 100%;
height: 80vh;
background: #3E403E;
padding-top: 120px;   /* ⬇️ baja el texto */
background: linear-gradient(90deg, rgba(62, 64, 62, 1) 0%, rgba(62, 64, 62, 1) 50%, rgba(62, 64, 62, 1) 100%); 
}
.web{
  color: black;

}
.developer{
  background-color: #EBC50C;

}
.sobremi{

  max-width: 800px;/* tamaño del card*/
  margin: auto;
  height: 80vh;
  font-size: 18px;
  line-height: 1.6;
  color: #f1f1f1;
}


